<div class="logo left">
	<%= image_tag "logo_small.png", :class => "header-logo" %>
</div>
<div class="nav right">
	<%= link_to "Home", "/" %>
	<%= link_to "News", "/news_posts" %>
	<%= link_to "Newsletters", "/newsletters" %>
	<%= link_to "Contact", "/contact" %>
	<% if admin? %>
		<%= link_to "Users", "/users" %>
	<% end %>
</div>

<div class="clear">
	
</div>
