<div class="logo left">
	<%= image_tag "logo_small.png", :class => "header-logo" %>
</div>
<div class="nav right">
	<%= link_to "HOME", "/" %>
	<%= link_to "NEWS", "/news_posts" %>
	<%= link_to "NEWSLETTERS", "/newsletters" %>
	<%= link_to "CONTACT", "/contact" %>
	<% if admin? %>
		<%= link_to "Users", "/users" %>
	<% end %>
</div>

<div class="clear">
	
</div>
