<!DOCTYPE html>
<html>
<head>
  <title>234 Rideau St.</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	
  <link href='http://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
</head>
<body>
	
	<%= render "layouts/flash", :flash => flash %>
	
	<% if user_signed_in? %>
	<%= render "layouts/signed_in_bar" %>
		<div class="signed-in-body">
	<% end %>
	
	<div class="header">
		<div class="container">
			<%= render 'layouts/header' %>
		</div>
	</div>
	<div class="main-body">
		<div class="container">
			<%= yield %>
		</div>
	</div>
	
	<div class="footer">
		<div class="container">
			<%= render 'layouts/footer' %>
		</div>
	</div>
	
	<% if user_signed_in? %>
		</div>
	<% end %>
</body>
</html>
